.Stud_add{
  border: 2px solid black;
  width: 60vw;
  margin: auto;
  border-radius: 20px;
  height: 50vh;
  margin-bottom: 30px;
}
 .Stud_add h1{
   width: 200px;
 margin: auto ;
 margin-top: 10px;
 
}
.label{
  margin: 20px;
}
.inp{
  margin: 5px;
}
.but{
  background-color: green;
  border-radius: 5px;
  
  width: 70px;
  height: 70p;
  color: white;
  margin-left: 350px;
}
.students{
  border: 2px solid black;
  border-radius: 20px;
  width: 60vw;
  margin: auto;
  height: 60vh;
}
.students h1{
  width: 200px;
  margin: auto ;
  margin-top: 10px;
  padding: 10px;
}
.students table{
  margin-left: 50px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
}
.cell{
  margin: 20px;
}